@model ContatoViewModel

@{
    ViewBag.Title = "Detalhes";
}

<h2>Detalhes do contato</h2>

<form>

    <input asp-for="Id" hidden />
    <div class="row">
        <div class="col-lg-6">
            <div class="form-group">
                <label asp-for="Nome" class="form-label"></label>
                <input asp-for="Nome" class="form-control" disabled />
            </div>
        </div>

        <div class="col-lg-6">
            <div class="form-group">
                <label asp-for="Sobrenome" class="form-label"></label>
                <input asp-for="Sobrenome" class="form-control" disabled />
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6">
            <div class="form-group">
                <label asp-for="Email" class="form-label"></label>
                <input asp-for="Email" class="form-control" disabled />
            </div>
        </div>
        <div class="col-lg-2">
            <a asp-controller="Telefone" asp-action="Create" asp-route-id="@Model.Id">Adicionar
                Telefone</a>
        </div>
        <div class="col-lg-2">
            <a asp-controller="Contato" asp-action="Index" asp-route-id="@Model.Id">Voltar</a>
        </div>
    </div>

</form>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => Model.LstTelefoneViewModel[0].Numero)
            </th>
            <th>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.LstTelefoneViewModel)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Numero)
                </td>
                <td>
                    <a asp-controller="Telefone" asp-action="Update" asp-route-id="@item.Id">Atualizar</a>
                    <a asp-controller="Telefone" asp-action="Delete" asp-route-contatoId="@Model.Id" asp-route-id="@item.Id">Excluir</a>
                </td>
            </tr>
        }
    </tbody>
</table>
