@model IEnumerable<ContatoViewModel>

@{
    ViewBag.Title = "Todos";
}

@await Html.PartialAsync("_AlertMessagePartial")

<h1>Contatos</h1>

<a asp-controller="Contato" asp-action="Create" class="btn btn-primary">Novo</a>

<table class="table table-responsive-lg">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(item => item.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(item => item.Sobrenome)
            </th>
            <th>
                @Html.DisplayNameFor(item => item.Email)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(itemModel => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(itemModel => item.Sobrenome)
                </td>
                <td>
                    @Html.DisplayFor(itemModel => item.Email)
                </td>
                <td>
                    <a asp-controller="Contato" asp-action="Details" asp-route-id="@item.Id" class="btn btn-outline-primary">Detalhes</a>
                    <a asp-controller="Contato" asp-action="Update" asp-route-id="@item.Id" class="btn btn-outline-warning">Atualizar</a>
                    <a asp-controller="Contato" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-outline-danger">Excluir</a>
                </td>
            </tr>
        }
    </tbody>
</table>